<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/text.css" />
<title>Login Page</title>
</head>

<body>
<div class="header"><div class="centerheader">
<div class="nav">
<div class="welcome"><p><img src="/static/img/16.jpg" width=1000 height=120 alt="" /></p></div>
</div>
</div></div>

<div class="main"><div class="centermain"><div class="black"></div>
<div class="black1">
<p class="text1">Welcome to the GIT_REPOS_OAUTH site</p>
<p class="text2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
THIS WEB APPLICATION IS DESIGNED TO RETRIEVE THE DETAILS OF A GIVEN GITHUB USER LIKE THE NUMBER OF REPOSITORIES OF THAT USER,  PROFILE INFORMATION AND DISPLAY THEM USING THE OAUTH AUTHENTICATION MECHANISM.</p>
</div>
<br /><br />
<div class="black2">
<P></h1>
 {% block content %}
 {% endblock %}

</div></div>
</div></div>
</body>
</html>


